#LayoutSplitter .HeaderPane
{
	background: #2a2a2a url("Images/HeaderBack.jpg") no-repeat left top;
}

#LayoutSplitter .HeaderSubMenu.dxm-popup .dxm-item .dxm-content
{
    padding-top: 3px;
}

#LayoutSplitter .HeaderSubMenu.dxm-popup .dxm-item .dxm-image
{
    margin-right: 10px;
	margin-top: -1px;
}

#LayoutSplitter .CornerMenu.dxm-vertical .dxm-image-l .dxm-item .dxm-content
{
    padding-top: 13px;
}

#LayoutSplitter .CornerMenu.dxm-vertical .dxm-image-l .dxm-item .dxm-image
{
    margin-top: -9px;
}

.ThemeSelectorLabel
{
    color: White;
}

.Sprite_Logo
{
    background-position: -1px -32px; /* Sprite_Logo_Light */
}

.MailGridHeaderAttachment.Sprite_Attachment
{
    background-position: -118px -96px; /* Sprite_Attachment_Light */
}

.MailMenuSearchBox
{
    margin-top: 3px;
}

.CalendarNavArea
{
	background: #a4bed1;
}